name: CD2 - Déploiement sur Runner Debian

on:
  workflow_run:
    workflows: ["CI - Tests HTML"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Déployer sur Nginx
        run: |
          echo "Copie des fichiers..."
          sudo cp -r ./ /var/www/html/

          echo "Redémarrage de Nginx..."
          sudo systemctl restart nginx

          echo "Déploiement terminé."

